@page
@model IndexModel
@{
    ViewData["Title"] = "Pääsivu";
}
<div class="text-center">
    <h10 class="display-10">&nbsp;</h10>
    <h3 class="display-10">Ehdotuksia</h3>
    <h3 class="display-10">&nbsp;</h3>
</div>
<div class="text-center">
    <div class="text-center">
        <table style="background-color:lightgrey; float: left; border-radius: 15px;">
            <tr>
                <td> <h4>Marttiini Puukko</h4></td>
            </tr>
            <tr>
                <td style="width:80%">
                    <picture>
                        <img src="https://www.marttiini.fi/WebRoot/Marttiini/Shops/MarttiiniShop/631F/2C41/85BC/DAB8/3E39/0A28/105F/9AD2/542023C_first_m.jpg" width="300" height="400">
                    </picture>
                </td>
            </tr>
            <tr>
                <td> <b>Hinta nyt: 120€</b></td>
            </tr>
             <tr>
            <td style="background-color:black; border-radius: 15px; width:60%;"> <b style="color:white;">&nbsp;&nbsp;Katso koko historia&nbsp;&nbsp;</b></td>
            </tr>
        </table>
        <table style="background-color:white; float: left; border-radius: 15px;">
            <tr>
                <td> <b style="color:white;">mmmmi</b></td>
            </tr>
            <tr>
                <td style="width:80%">
                </td>
            </tr>
            <tr>
            </tr>
        </table>
        <table style="background-color:lightgrey; float: left; border-radius: 15px;">
            <tr>
                <td> <h4>Ukko-Pekka Riipustuskoru</h4></td>
            </tr>
            <tr>
                <td style="width:80%">
                    <picture>
                        <img src="https://asiakas.kotisivukone.com/files/helppilainen.kotisivukone.com/.thumbs/svin10_280x500.jpg" width="300" height="400">
                    </picture>
                </td>
            </tr>
            <tr>
                <td> <b>Hinta nyt: 175€</b></td>
            </tr>
            <tr>
            <td style="background-color:black; border-radius: 15px; width:60%;"> <b style="color:white;">&nbsp;&nbsp;Katso koko historia&nbsp;&nbsp;</b></td>
            </tr>
        </table>
        <table style="background-color:lightgrey; float: right; border-radius: 15px;">
            <tr>
                <td> <h4>Muumimuki</h4></td>
            </tr>
            <tr>
                <td style="width:80%">
                    <picture>
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/Rosehage_kopp.jpg/190px-Rosehage_kopp.jpg" width="300" height=400>
                    </picture>
                </td>
            </tr>
            <tr>
                <td> <b>Hinta nyt: 45€</b></td>
            </tr>
             <tr>
            <td style="background-color:black; border-radius: 15px; width:60%;"> <b style="color:white;">&nbsp;&nbsp;Katso koko historia&nbsp;&nbsp;</b></td>
            </tr>
        </table>
    </div>
</div>
